К программе/car.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cars">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="car">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="brand" type="xs:string" />
              <xs:element name="model" type="xs:string" />
              <xs:element name="manufact_year" type="xs:unsignedShort" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>